version: '3.1'

services:
  lpp:
    ports:
    - "${API_PORT}:${API_PORT}"
    volumes:
      - ./lpp/code:/usr/src/app
  mongo:
    volumes:
      - /data/lpp:/data/db
    ports:
      - "${MONGO_PORT}:${MONGO_PORT}"
